/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "lexend-regular";
}

@font-face {
    font-family: "lexend-regular";
    src: url("../Lexend/static/Lexend-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
   
}

/* pagina graficos */



.dash {
  width: 1000%;
  position: relative;
  top: 0;
  left: 10%;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: #212124;
}





.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #c4e600;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #cfe600;
}

.btn-white {
  color: #cfe600;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid yellow;
  background-color: #202020;
}



.dash h1{
  color: yellow;
  font-size: 60px;

}

.header-left h1 {
  color: yellow;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: yellow;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
  color: yellow;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #202020;
  border: 3px solid yellow;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  margin-top: -120px;
}

.btn-nav-white h3 {
  color: yellow;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(151, 91, 91);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  border: solid 3px rgb(190, 41, 41);
}

#contadorSocios {
  background-color: yellow;
  color: black;
  height: 180px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: #202020 solid 2px;
}

#contadorSocios h2{
  font-size: 20px;
  color: #302f2f;
  margin-left: -130px;
  padding-top: 10px;
}

#contadorSocios span{
background-color: #161618;
color: yellow;
width: 120px;
border-radius: 3px;
margin-top: 10px;

}

.botaoConfirmar {
    background-color: rgb(116, 228, 82);
    color: black;
    border: black solid 2px;
    padding: 14px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-top: 10px;

}

.botaoConfirmar:hover {
    transform: scale(1.03);
    background-color: #202020;
    color: rgb(116, 228, 82);
    
}

.botaoCancelar{
    background-color: rgb(211, 73, 68);
    color: black;
    border: black solid 2px;
    padding: 14px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-top: 10px;

}

.botaoCancelar:hover {
    transform: scale(1.03);
    background-color: #202020;
    color: rgb(211, 73, 68);
    
}


.botoesPresenca{
display: flex;
flex-direction: row;
gap: 30px;
}


.containerPresenca h2{
  font-size: 50px;
}
.containerPresenca{
  background-color: yellow;
  color: #202020;
  margin-top: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px;
  
}

#proximo_jogo{
  width: 80%;
  padding: 20px;
  background-color: #202020;
  border: solid 4px rgb(0, 0, 0);
  border-radius: 15px;
  color: yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 35px;
}

.kpi{
  display: flex;
  flex-direction: row;
  gap: 20px;
}



.jogosquefui{
  color: #202020;
  font-size: 17px;
  margin-left: 70%;
  margin-top: -15px;
}



#grafico-pizza{
  transform: scale(0.8);
  margin-top: -40px;
}

.graficos h2{
  color: yellow;
  margin-top: 50px;
}